<div class="page-header">
	<h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form ng-submit="submeter()" novalidate name="form" class="row">
	<div class="col-xs-12 col-md-6">
		<div class="form-group">
			<label for="titulo">Título:</label>
			<input ng-model="foto.titulo" ng-maxlength="20" class="form-control" type="text" id="titulo" name="titulo" placeholder="Digite o título da Foto" required>
			<span ng-show="form.$submitted && form.titulo.$error.required" class="form-control alert-danger">
				Por favor, digite o título da Foto 
			</span>
			<span ng-show="form.$submitted && form.titulo.$error.maxlength" class="form-control alert-danger">
				O título deve conter no máximo 20 letras 
			</span>
		</div>
		<div class="form-group">
			<label for="descricao">Descrição:</label>
			<input ng-model="foto.descricao" class="form-control" id="descricao" type="text" name="descricao" placeholder="Digite a Descrição da Foto" >
		</div>
		<div class="form-group">
			<label for="grupo">Grupo:</label>
			<select ng-controller="GruposController" 
					ng-model="foto.grupo" 
					ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos"
					class="form-control" name="grupo" id="grupo" required>
				<option value="" selected disabled>Selecione...</option>
			</select>
			<span ng-show="form.$submitted && form.grupo.$error.required" class="form-control alert-danger">
				Por favor, selecione o Grupo
			</span>
		</div>
		<div class="form-group">
			<label for="url">URL:</label>
			<input ng-model="foto.url" class="form-control" id="url" type="text" name="url" placeholder="Digite a URL ou caminho da Foto" required>
			<span ng-show="form.$submitted && form.titulo.$error.required" class="form-control alert-danger">
				Por favor, digite a URL ou caminho da Foto
			</span>
		</div>
		<a set-focus href="/" class="btn btn-default">Voltar</a>
		<!-- ng-disabled="form.$invalid" -->
		<button ng-disabled="form.$invalid"  type="submit" class="btn btn-primary">Salvar</button>
		<hr>
	</div>
	<div class="col-xs-12 col-md-6">
		<minha-foto titulo="{{foto.titulo}}" url="{{foto.url}}"></minha-foto>
	</div>
</form>