<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Alurapic</h1>
    </div>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="/fotos/novo" class="btn btn-primary" type="button" title="Cadastrar nova foto">Nova</a>
                    </span>
                    <input ng-model="filtro" ng-model-options="{ debounce: 500}" class="form-control" type="search" name="filtro" placeholder="Filtrar pelo título da Foto">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- 
        filter: filtro -> todas as propriedades dos objetos são vasculhadas à procura do valor digitado.
        filter: {titulo: filtro} ->  buscar apenas pelo titulo
    -->
    <meu-painel ng-repeat="foto in fotos | filter: {titulo: filtro}" titulo="{{foto.titulo}}" class="col-md-2 painel-animado espacamento">      
        <minha-foto titulo="{{foto.titulo}}" url="{{foto.url}}" > </minha-foto>
                        <!-- <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}"
                        title="{{foto.titulo}}"> -->

        <a class="btn btn-warning btn-block" href="/fotos/edicao/{{foto._id}}">Editar</a>
        
        <botao-remover nome="Remover" acao="remover(foto)"></botao-remover>
    </meu-painel> <!-- fim meu-painel -->


                </div> <!-- fim row -->
    <meus-titulos></meus-titulos>
</div> <!-- fim container -->